* {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1em;
}

body {
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  font-size: 1em !important;
}

:root {
  --primary-background: #080808;
  --secondary-background: #222222;
  --primary-header-color: #e7562e;
  --secondary-header-color: #21e9db;
  --about-details-color: #4acac2;
  --nav-color: rgb(216, 216, 216);
  --nav-on-hover: white;
  --empty-background-color:#ffffff;
  --text-header-color:var(--primary-background);
}

::-webkit-scrollbar {
  background-color: var(--primary-background);
  width: 7.5px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #1f0038;
  border-radius: 10px;
}

button {
  outline: none !important;
  background: none !important;
  cursor: pointer;
  border: none !important;
}

.navbar,
.footer {
  cursor: pointer;
  background-color: var(--secondary-background);
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  color: var(--primary-header-color);
}

.navbar header,
.footer header {
  font-weight: bold;
  font-size: 2em;
}

.navbar ul,
.footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: var(--nav-color);
}

.navbar ul li,
.footer ul li {
  margin: 0em 1em;
}

.navbar ul li a,
.footer ul li a {
  text-decoration: none;
  color: var(--nav-color);
}

.navbar ul li button,
.footer ul li button {
  color: var(--nav-color);
}

.navbar ul a:hover,
.footer ul a:hover {
  color: var(--nav-on-hover);
}

.about {
  color: var(--secondary-header-color);
  min-height: 50vh;
  padding: 1em 1em;
  margin: auto;
  background-color: var(--primary-background);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.about .profile {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .profile .profile_image {
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  margin: auto;
  -ms-grid-column-align: center;
      justify-self: center;
  -webkit-box-shadow: 4px 2px 5px 1px #a5a5a5;
          box-shadow: 4px 2px 5px 1px #a5a5a5;
}

.about .profile h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: larger;
  margin: 0.5em 0em;
  letter-spacing: 0.23em;
}

.about .profile p {
  color: var(--about-details-color);
  line-height: 1.3em;
}

.about .profile .social-media {
  color: #ffcc8e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0.5em;
  font-weight: lighter;
}

.about .profile .social-media .logo {
  height: 1.5em;
  width: 1.5em;
  background-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--secondary-header-color);
  cursor: pointer;
}

.education {
  padding: 1em 1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  background-color: var(--empty-background-color);
}

.education .item {
  background-color: #f1f1f1;
  color: black;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px grey, -2px -2px 3px #cfcfcf;
          box-shadow: 2px 2px 5px grey, -2px -2px 3px #cfcfcf;
  text-align: center;
  padding: 1em;
}

.education .item i {
  color: var(--text-header-color);
  font-size: 1.75em;
  margin: 0.5em;
}

.education .item h4 {
  font-weight: 800;
}

.education .item p {
  margin-top: 1em;
}

.education .item p .imp {
  font-weight: bold;
  color: var(--text-header-color);
}

.skills {
  background-color: var(--secondary-background);
  padding: 1em 1em;
  color: var(--primary-header-color);
}

.skills .cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.skills .cards .card {
  padding: 1em;
  text-align: center;
  color: black;
  background-color: #ffffff;
  min-height: 10vh;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px grey, -2px -2px 3px #cfcfcf;
          box-shadow: 2px 2px 5px grey, -2px -2px 3px #cfcfcf;
}

.skills .cards .card h4 {
  font-weight: 800;
  color: var(--text-header-color);
}

.skills .cards .card p {
  margin-top: 1em;
}

.skills .cards .card p .imp {
  font-weight: bold;
  color: var(--secondary-background);
}

@media all and (min-width: 700px) {
  .about {
    height: auto;
    padding-bottom: 1em;
  }
  .profile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
    grid-gap: 2em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media all and (max-width: 700px) {
  * {
    font-size: small;
  }
}
/*# sourceMappingURL=style.css.map */