* {
  margin: 0px;
  padding: 0px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.1em;
}
body {
  scroll-behavior: smooth !important;
  overflow-x: hidden!important;
  font-size: 1em!important;
}
:root {
  --primary-background: #1b1b1b;
  --secondary-background: #222222;
  --primary-header-color: #e7562e;
  --secondary-header-color: #21e9db;
  --about-details-color: #4acac2;
  --nav-color: rgb(216, 216, 216);
  --nav-on-hover: white;
  --empty-background-color:#ffffff;
  --text-header-color:var(--primary-background);
}

::-webkit-scrollbar {
  background-color: var(--primary-background);
  width: 7.5px!important;
}

::-webkit-scrollbar-thumb {
  background-color: #1f0038;
  border-radius: 10px;
}
button{
  outline: none!important;
  background: none!important;
  cursor: pointer;
  border: none!important;
}
.navbar,
.footer {
  cursor: pointer;
  background-color: var(--secondary-background);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  color: var(--primary-header-color);

  header {
    font-weight: bold;
    font-size: 2em;
  }
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    color: var(--nav-color);
    li {
      margin: 0em 1em;
      a {
        text-decoration: none;
        color: var(--nav-color);
      }
      button{
        color: var(--nav-color);
      }
    }
    a:hover {
      color: var(--nav-on-hover);
    }
  }
}

.about {
  color: var(--secondary-header-color);
  min-height: 50vh;
  padding: 1em 1em;
  margin: auto;
  background-color: var(--primary-background);
  justify-content: center;
  text-align: center;
  .profile {
    justify-content: center;
    .profile_image {
      height: 40vh;
      width: 40vh;
      border-radius: 50%;
      margin: auto;
      justify-self: center;
      box-shadow: 4px 2px 5px 1px #a5a5a5;
    }
    h3 {
      text-align: center;
      text-transform: uppercase;
      font-size: larger;
      margin: 0.5em 0em;
      letter-spacing: 0.23em;
      color: var(--primary-header-color);
    }
    p {
      color: var(--about-details-color);
      line-height: 1.3em;
    }
    .social-media {
      color: #ffcc8e;
      display: flex;
      justify-content: space-evenly;
      margin: 0.5em;
      font-weight: lighter;
      .logo {
        height: 1.5em;
        width: 1.5em;
        background-color: none;
        box-shadow: none;
        color: var(--secondary-header-color);
        cursor: pointer;
      }
    }
  }
}

.education {
  padding: 1em 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  .item {
    background-color: #f1f1f1;
    color: black;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey, -2px -2px 3px rgb(207, 207, 207);
    text-align: center;
    padding: 1em;
    i {
      color: var(--text-header-color);
      font-size: 1.75em;
      margin: 0.5em;
    }
    h4 {
      font-weight: 800;
    }
    p {
      margin-top: 1em;
      .imp {
        font-weight: bold;
        color: var(--text-header-color);
      }
    }
  }
}

.skills {
  background-color: var(--secondary-background);
  padding: 1em 1em;
  color: var(--primary-header-color);
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    .card {
      padding: 1em;
      text-align: center;
      color: black;
      background-color: #ffffff;
      min-height: 10vh;
      border-radius: 10px;
      box-shadow: 2px 2px 5px grey, -2px -2px 3px rgb(207, 207, 207);

      h4 {
        font-weight: 800;
        color: var(--text-header-color);
      }
      p {
        margin-top: 1em;
        .imp {
          font-weight: bold;
          color: var(--secondary-background);
        }
      }
    }
  }
}

.footer{
  font-size: smaller;
}

@media all and (min-width: 700px) {
  .about {
    height: auto;
    padding-bottom: 1em;
  }
  .profile {
    display: grid;
    grid-template-columns: 40% auto;
    grid-gap: 2em;
    align-items: center;
  }
}

@media all and(max-width:700px){
  *{
    font-size: small;
  }
}
