*{
    margin: 0px;
    padding:0px;
}
::-webkit-scrollbar{
    background-color: black;
    width: 10px!important;
}

::-webkit-scrollbar-thumb{
    width: 10px!important;
    background-color: rgb(58, 58, 58);
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    width: 10px!important;
}

body{
    color: rgb(231, 133, 41);
    background-image: url('./assets/background.jpg');
    background-size: cover;
}

.flex{
    padding: 10px;
    background-color: rgba(167, 167, 167, 0.075);
    background-blend-mode: darken;
    height: 100vh;
    overflow: hidden;
}


.flex-two{
    padding: 10px;
    border-radius: 10px;
    padding-top: 20px!important;
    background-color: #4c4c4c81;
    box-shadow: 0px 1px 6px 0px rgb(29 29 29) inset, 2px 2px 2px rgb(29 29 29) inset;
}


.profile{
    padding: 10px;
    text-align: center;
}

.profile > .profile-image{
    border-radius: 50%;
    height: 30vh!important;
    width: 30vh!important;
    box-shadow: 0px 1px 6px 0px rgb(29 29 29) inset, 2px 2px 2px rgb(29 29 29) inset;
}

.contact{
    padding: 10px;
    margin: auto;
    width: 50%;
    display: flex;
    justify-content: space-between;
}

@media all and (max-Width:750px) {
    body{
        justify-content: center!important;
    };


    .profile{
        margin: auto;
        text-align: center;
    }
}